.hide {
    display: none;
}

body {
    background: rgba(112, 255, 179, 0.739);
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
}

header {
    color: rgb(10, 250, 122);
    font-size: 33px;
    font-weight: 900;
    margin: 5% 4% 2% 4%;
    text-align: center;
    -webkit-text-stroke: 1.75px rgb(5, 132, 56);
}

section {
    background: rgb(165, 255, 205);
    border: 2px solid red;
    border-radius: 10px;
    color: rgb(9, 154, 43);
    font-weight: 600;
    margin: 3% 8% 0% 8%;
    padding: 3.5% 5%;
    text-align: justify;
}

div {
    display: flex;
    width: 100%;
}

.tab_box {
    border-bottom: 3px solid grey;
    margin: auto;
    width: 90%;
}

button {
    background: none;
    border: none;
    color: rgb(131, 131, 131);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 42px;
    width: 50%;
}

.selected {
    color: rgb(255, 54, 54);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    height: 90px;
    margin: 3%;
}

.unity li {
    background: orange;
}

.unreal-engine li {
    background: rgb(255, 141, 255);
}